.main-page {
    font-family: cursive;
    background-color: rgb(131, 194, 173);
    min-height: 100vh;
}
.title-container{
    background-color: rgb(194, 248, 227);
    border-radius: 20px;
    padding: 28px 0;
    
}
.title {
    font-weight: 900;
    font-size: 70px;

}


.sub-title {
    font-weight: 900;
    font-size: 20px;
}

.to-do-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.task-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    min-width: 90%;
    gap: 1rem;
}

.todoItem {
    box-sizing: border-box;
    width: 100%; 
}
.task {
    background-color: rgb(194, 248, 227);
    border-radius: 20px;
    padding: 10px 20px;
    overflow-wrap: break-word;
    box-shadow: 5px 5px 30px rgb(28, 80, 60);
    
}

.task.done {
    background-color: rgb(91, 161, 134);
    border-radius: 20px;
    padding: 10px 20px;
    overflow-wrap: break-word;
    box-shadow: 5px 5px 30px rgb(28, 80, 60);
    color: rgb(85, 85, 85);
}

.task.done h3 {
    text-decoration: line-through;
}
.task.done p {
    text-decoration: line-through;
}

.task button {
    background-color: cadetblue;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid rgb(194, 248, 227);
}

.task input {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.task label {
    font-size: 25px;
}


