<div class="body">
  <div class="py-5 container">
    <div class="row">
      <div class="titleContainer col text-center">
        <h1 class="title display-5 fw-bold">To-Do</h1>
        <p class="subtitle fw-bold">
          --== In put tasks you want to get done ==--
        </p>
      </div>
      <div class="toDoInput col d-flex flex-column align-items-center justify-content-center">
        <div class="row mb-2">
            <div class="col-10">
                <h2 class="text-center fw-bolder">Add Tasks Here</h2>
            </div>
            <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                <button class="btn btn-primary btn-lg" (click)="saveData()">Save</button>
            </div>
        </div>
        <input class="form-control mb-2" name="name" id="name" [(ngModel)]="name" placeholder="Enter name" />
        <textarea class="form-control mb-2 h-100" name="todo" id="todo" [(ngModel)]="task" placeholder="Enter task"></textarea>
      </div>
    </div>
  </div>
  <div class="toDoContainer"> 
    <div class="taskWrapper">
        <div *ngFor="let task of tasks" class="todoItem">
          <div class="task">
            <h1>{{ task.name }}</h1>
            <h1>{{ task.task }}</h1>
            <button (click)="deleteData(task.date)"></button>
          </div>
        </div>
      </div>
  </div>
</div>
