<div class="body">
    <div class="container-fluid">
        <div>
            <h1>To-Do</h1>
        </div>
        <div class="toDoInput">
            <input name="name" id="name" [(ngModel)]="name" />
            <textarea name="todo" id="todo" [(ngModel)]="task"></textarea>
            <button (click)="saveData()">Save</button>
        </div>
        <div class="toDoContainer">
            <div *ngFor="let task of tasks"  class="todoItem">
                <div class="task">
                    <h1>{{task.name}}</h1>
                    <h1>{{task.task}}</h1>
                    <button (click)="deleteData(task.date)"></button>
                </div>
            </div>
        </div>
    </div>
</div>

